<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Edit Compensation</title></head>
<body>
    <h1>Edit Compensation</h1>
    <form th:action="@{|/compensation/edit/${compensation.id}|}" method="post">
        <label>Amount: <input type="number" step="0.01" name="amount" th:value="${compensation.amount}" /></label><br/>
        <label>Description: <input type="text" name="description" th:value="${compensation.description}" /></label><br/>
        <button type="submit">Update</button>
    </form>
    <div th:if="${message}" style="color:green;">[[${message}]]</div>
    <div th:if="${error}" style="color:red;">[[${error}]]</div>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>