<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
</head>
<body>
    <h1>Edit Employee</h1>
    <form th:action="@{|/employee/edit/${employee.uid}|}" th:object="${employee}" method="post">
        <label>UID: <span th:text="${employee.uid}"></span></label><br/>
        <label>First Name: <input type="text" th:field="*{firstName}" required/></label><br/>
        <label>Middle Name: <input type="text" th:field="*{middleName}"/></label><br/>
        <label>Last Name: <input type="text" th:field="*{lastName}" required/></label><br/>
        <label>Birth Date: <input type="date" th:field="*{birthDate}" required/></label><br/>
        <label>Position: <input type="text" th:field="*{position}" required/></label><br/>
        <button type="submit">Update Employee</button>
    </form>
    <div th:if="${message}" style="color:green;">[[${message}]]</div>
    <div th:if="${error}" style="color:red;">[[${error}]]</div>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>